spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/phoneshop
        username: phoneshop
        password: phoneshop123
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
    mvc:
      path match:
          matching-strategy: ant_path_matcher
    liquibase:
        change-log: classpath:db/changelog/db.changelog-master.yaml
        enabled: true
server:
    servlet:
        context-path: /api/v1/
    port: 2000
file:
    server-path: D:\\POS_Noted\\images\\

logging:
    level:
        org.springframework.security: DEBUG
        com.example: INFO

